.active-button-class{
    background-color: orange;
    color:white;
    border:none;
    outline:none;
    border-radius: 15px;
    margin:10px;
    padding: 10px;

}
.level-button{
    background-color: white;
    color:orange;
    border:3px solid orange;
    padding: 10px;
    outline: none;
    border-radius: 15px;
    margin: 10px;
}
